# Directories #
build/
bin/
lib/google-gson-2.2.4/
lib/stanford-corenlp-full-2014-06-16/
.settings/
models/*
!models/GeneralReader
models/GeneralReader/*
!models/GeneralReader/0000000010000001110_BIES_pos_BIES_suffix_true.model

*~
*.tmp

*.txt
!config_no_training.txt
!config.txt
!example_data/

*.log
*.out
*.gr
.classpath
.project
